.footer {
    background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    margin-top: 51px;
}

.footer .container {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
    align-items: center;



    .footer__img {
        margin-left: 30px;
        padding-bottom: 10px;
    }

    .footer__title {
        color: #FFF;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding-top: 25px;
        padding-bottom: 25px;

    }


    .footer__btn {
        color: #3C61E1;
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 28px;
        border-radius: 10px;
        background: #FFF;
        border: 1px solid #FFF;
        margin-left: 30px;
        
    }
}

@media only screen and (max-width:1090px) {
    .footer .container {
        flex-direction: column;
    }

    .footer__title {
        text-align: center;
    }

    .footer__btn {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:670px) {
    .footer__title {
        max-width: 400px;
        width: 100%;
    }
}

@media only screen and (max-width:460px) {
    
    .icons {
        text-align: center;
    }
}