.our {
    margin-top: 151px;
}

.our__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our__heading {
    color: #000;
    font-family: "Roboto";
    font-size: 48.44px;
    font-style: normal;
    font-weight: 500;
   
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.our__spanca {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20%;
    margin-left: 280px;
    transform: translateY(-150px);
    margin: 0;
    padding: 0;
    
}

.our__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.our__img {
    max-width: 142px;
    width: 100%;
    height: 51px;
    border: none;
    transform: translateY(-10px);
}

.our__image {
    max-width: 51px;
    width: 100%;
    height: 51px;
    position: absolute;
    transform: translateX(37px);
}

.our__btn {
    max-width: 142px;
    width: 100%;
    height: 51px;
}


.our__item {
    max-width: 422px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
    border-radius: 10px;
    border: 1px solid #d7eafb;

}

.our__spann {
    background-color: #0088ff;
    max-width: 62px;
    width: 100%;
    height: 281px;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.our__text {
    max-width: 202px;
    width: 100%;
    color: #000;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-left: 150px;
    transform: translateY(130px);
    padding: 0;
    opacity: 0.7;
}

.our__span {
    max-width: 30.172px;
    width: 100%;
    height: 2px;
    display: block;
    background-color: #000;
    transform: translate(170px, 59px);
}

.our__spanca {
    color: #000;
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    margin-top: 44px;
    padding: 0;
    padding-bottom: 10px;
    display: block;
}

.our__texting {
    color: #000;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    opacity: 0.5;
    transform: translateY(-140px);
}

.texten {
    max-width: 258px;
    width: 100%;
    margin-top: 27px;
    margin-left: 12px;
}
@media only screen and (max-width: 1085px) {

    .our .container {
        justify-content: center;
    }



    .our__box {flex-direction: column;
    }

    .our__list {
        flex-direction: column;
    }

    .our__item {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .our__heading {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .our__heading {
        font-size: 36px;
    }
}

@media only screen and (max-width: 375px) {
    .our__heading {
        font-size: 28px;
    }

    .our__text {
        max-width: 170px;
        font-size: 16px;
    }

    .our__spanca {
        font-size: 16px;
        margin-left: -40px;
    }

    .our__spann {
        margin-left: -15px;
    }
    }

   